<div style="margin: 0 10px">
  <div class="container">
    <div class="el1">Element 1</div>
    <div class="el2">Element 2</div>
    <div class="el3">Element 3</div>
    <div class="el4">Element 4</div>
  </div>
  <hr />
  <div class="container">
    <div class="el1">Element 1</div>
    <div class="el2">Element 2</div>
    <div class="el3">Element 3</div>
    <div class="el4">Element 4</div>
    <div class="el4">Element 5</div>
  </div>
  <hr />
  <div class="container container2">
    <div class="el1">Element 1</div>
    <div class="el2">Element 2</div>
    <div class="el3">Element 3</div>
    <div class="el4">Element 4</div>
  </div>
  <hr />
  <p>collapse row + col</p>
  <div class="container container3">
    <div class="el1">Element 1</div>
    <div class="el2">Element 2</div>
    <div class="el3">Element 3</div>
    <div class="el4">Element 4</div>
    <div class="el4">Element 5</div>
    <div class="el4">Element 6</div>
  </div>
  <hr />
  <p>repeat col width, set min max height</p>
  <div class="container container4">
    <div class="el1">Element 1</div>
    <div class="el2">Element 2</div>
    <div class="el3">Element 3</div>
    <div class="el4">Element 4</div>
  </div>
  <hr />
  <p>span 2, not hard code column num</p>
  <div class="container container5">
    <div class="el1">Element 1</div>
    <div class="el2">Element 2</div>
    <div class="el3">Element 3</div>
    <div class="el4">Element 4</div>
  </div>
  <hr />
  <p>el take all col</p>
  <div class="container container6">
    <div class="el1">Element 1</div>
    <div class="el2">Element 2</div>
    <div class="el3">Element 3</div>
    <div class="el4">Element 4</div>
  </div>
  <hr />
  <p>overlap</p>
  <div class="container container7">
    <div class="el1">Element 1</div>
    <div class="el2">Element 2</div>
    <div class="el3">Element 3</div>
    <div class="el4">Element 4</div>
  </div>
  <hr />
  <p>names</p>
  <div class="container container8">
    <div class="el1">Element 1</div>
    <div class="el2">Element 2</div>
    <div class="el3">Element 3</div>
    <div class="el4">Element 4</div>
  </div>
  <hr />
  <p>gap</p>
  <div class="container gap">
    <div class="el1">Element 1</div>
    <div class="el2">Element 2</div>
    <div class="el3">Element 3</div>
    <div class="el4">Element 4</div>
    <div class="el4">Element 5</div>
  </div>
  <hr />
  <p>areas</p>
  <div class="container areas">
    <div class="el1">Element 1</div>
    <div class="el2">Element 2</div>
    <div class="el3">Element 3</div>
    <div class="el4">Element 4</div>
  </div>
  <hr />
  <p>position</p>
  <div class="container position">
    <div class="el1">Element 1</div>
    <div class="el2">Element 2</div>
    <div class="el3">Element 3</div>
    <div class="el4">Element 4</div>
  </div>
  <hr />
  <p>position</p>
  <div class="container position-entire">
    <div class="el1">Element 1</div>
    <div class="el2">Element 2</div>
    <div class="el3">Element 3</div>
    <div class="el4">Element 4</div>
  </div>
  <hr />
</div>
