<header class="main-header">
  <div>
    <a class="main-header__brand" routerLink="/">
      ngPlayground
    </a>
  </div>
  <nav class="main-nav">
    <ul class="main-nav__items">
      <li class="main-nav__item">
        <a href="packages/index.html">Packages</a>
      </li>
      <li class="main-nav__item">
        <a href="customers/index.html">Customers</a>
      </li>
<!--      main-nav__item&#45;&#45;cta = main-nav__item and cta is special state-->
      <li class="main-nav__item main-nav__item--cta">
        <a href="start-hosting/index.html">Start Hosting</a>
      </li>
    </ul>
  </nav>
</header>
