<header>
  <nav class="navbar">
    <div id="logo">
      <img src="favicon.ico" alt="testing-logo"/>
    </div>
    <div id="search">
      <input type="text" placeholder="search anywhere" />
<!--      TO DO ADD SEARCH ICON-->
    </div>
    <div id="menu">
      <ul>
        <li>
          <a routerLink="/">Latest News</a>
        </li>
        <li>
          <a routerLink="/">Blogs</a>
        </li>
        <li>
          <a routerLink="/">About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
