.container {
  margin: 10px;
  display: grid;

  /*hd-start, hd-end gives name whole col*/
  grid-template-columns: [hd-start] repeat(4, [col-start] 25% [col-end]) [hd-end];

  grid-template-rows:
    [hd-start] 5rem [hd-end row-2-start] minmax(10px, 50px)
    [row-2-end row-3-start] 100px [row-3-end];
  grid-template-areas: "header header header header" "side main main ." "footer footer footer footer";
}

.container .el1 {
  grid-area: side;
}

.container .el3 {
  /*use generate name */
  grid-area: hd;
}

.container .el2 {
  grid-area: main;
}

.container .el4 {
  grid-area: footer;
}

.el1 {
  background: rgba(255, 154, 72, 0.5);
}

.el2 {
  background: rgba(255, 0, 0, 0.5);
}

.el3 {
  background: rgba(0, 128, 0, 0.5);
}

.el4 {
  background: rgba(0, 4, 255, 0.5);
}

@media (max-width: 40rem) {
  .container {
    grid-template-rows:
      [hd-start] 5rem [hd-end row-2-start] minmax(10px, 50px)
      [row-2-end row-3-start] 150px [row-3-end row-4-start] 100px [row-4-end];
    grid-template-areas: "header header header header" "main main main main" "side side side side" "footer footer footer footer";
  }
}
