* {
  box-sizing: border-box;
  font-size: 1.5rem;
}

.html {
  background: #b3b3b3;
  padding: 5px;
  min-height: 100vh;
}

.body {
  background: #b3b3b3;
  padding: 5px;
  margin: 0;
}

.flex-container {
  height: 1300px;
  background: white;
  padding: 10px;
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  flex-wrap: nowrap;
  /*flex-flow: row wrap;*/

  /*center item along cross axis*/
  align-items: center;

  /*center item along main axis*/
  justify-content: center;

  /*align item of second line*/
  align-content: center;
}

.item-1 {
  background: #ff7300;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
}

.item-2 {
  background: #ff9640;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 250px;
  font-size: 1.8rem;
  /*order: -1;*/
}

.item-3 {
  background: #ff9640;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  height: 250px;
  /*align-self: flex-start;*/
}

.item-4 {
  /*order: 1;*/
  background: #f5c096;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 300px;
  height: 300px;
}

.item-5 {
  background: #d3c0b1;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 350px;

  /*use available space along contributed elements in line */
  /*1/3 add to this el*/
  /*flex-grow: 1;*/

  /*flex-shrink: 1;*/

  /*set size of element in main axis*/
  /*flex-basis: 300px;*/

  /*flex item prop short hand, 0 for grow, 1 for shrink, auto for basis*/
  /*flex: 0 1 auto;*/
}

.item-6 {
  background: #d3c0b1;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 350px;

  /*use available space, higher value takes more space*/
  /*2/3 add to this el*/
  /*flex-grow: 2;*/

  /*how much more space to shrink compare to other flex-shrink el*/
  /*flex-shrink: 4;*/
}
